{% extends "base.html" %}
{% load static %}

{% block content %}
    
    <div class="container">
        <div class="header">
            <div class="title">{{ category.name }}</div>
            <div class="back-link">
                <a href="{% url 'categories' %}">← Все категории</a>
            </div>
        </div>
        
        <div class="discounts-list">
            {% for discount in discounts %}
                <a href="?selected={{ discount.id }}" style="text-decoration: none" class="discount-link">
                <div class="discount-item" style="background-color: #ffeadd;">
                    <div class="discount-content">
                        <div class="discount-info">
                            <div class="discount-name">{{ discount.name }}</div>
                            <div class="discount-description">{{ discount.small_name }}</div>
                            <div class="discount-validity">Действует до: {{ discount.end_date|date:"d.m.Y" }}</div>
                        </div>
                        {% if discount.image %}
                        <img src="{{ discount.image.url }}" alt="Предложение" class="discount-image">
                        {% else %}
                        <img src="{% static 'images/logo-ufanet.png' %}" alt="Предложение" class="discount-image">
                        {% endif %}
                    </div>
                    <div class="company-info">
                        {% if discount.company.company_image %}
                        <img src="{{ discount.company.company_image.url }}" alt="Логотип компании" class="company-logo">
                        {% else %}
                        <img src="{% static 'images/default-company.png' %}" alt="Логотип компании" class="company-logo">
                        {% endif %}
                        <div class="company-details">
                            <div class="company-name">{{ discount.company.company_name }}</div>
                            <div class="company-category">{{ discount.offers_category | default:'Разное' }}</div>
                        </div>
                    </div>
                </div>
                </a>
            {% empty %}
                <div class="no-discounts">
                    В этой категории пока нет предложений
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}